## This data science project aims to predict possibility of road accident and its severity. This will help road users to decide on a journey and driving habit.  The dataset contains various details like severity, collision type, injuries, fatality, location, etc.

In [2]:
import pandas as pd
import numpy as np

### About dataset

This dataset is about past road accident and severity. The __data_collisions.csv__ data set includes details of 194672 accident records, location of accident and severity. It includes some of the following fields:

| Field          | Description                                                                           |
|----------------|---------------------------------------------------------------------------------------|
| Location       | location of collision                                                                 |
| Severity       | Code the correspond to the severity of the collision                                  |
| severity Desc  | A detailed description of the severity of the collision                               | 
| Ped count      | The number of pedestrians                                                             |
| SeriousInjuries| The number of serious injuries in the collision                                       |
| Injuries       | The number of total injuries in the collision                                         |
| Fatalities     | The number of fatalities in the collision                                             |
| Weather        | Wseather condition during the time of the collision                                   |
| COLLISIONTYPE  | collision type                                                                        |
| PERSONCOUNT    |The total number of people involved in the collision                                   |
| PEDCYLCOUNT    | The number of bicycles involved in the collision. This is entered by the state.       | 
| VEHCOUNT       | The number of vehicles involved in the collision.This is entered by the state.        |
| INCDATE        | The date of the incident                                                              |
| INCDTTM        | The date and time of the incident.                                                    |
| JUNCTIONTYPE   | Category of junction at which collision took place                                    |
| SDOT_COLCODE   | A code given to the collision by SDOT.                                                |
| SDOT_COLDESC   | A description of the collision corresponding to the collision code.                   |
| INATTENTIONIND | Whether or not collision was due to inattention. (Y/N                                 |
| UNDERINFL      | Whether or not a driver involved was under the influence of drugs or alcohol.         | 
| ROADCOND       | The condition of the road during the collision.                                       |
| LIGHTCOND      | The light conditions during the collision.                                            |
| PEDROWNOTGRNT  | Whether or not the pedestrian right of way was not granted. (Y/N)                     |
| SPEEDING       | Whether or not speeding was a factor in the collision. (Y/N)                          |
| CROSSWALKKEY   | A key for the crosswalk at which the collision occurred.                              |

### Load data from CSV File

In [6]:
df=pd.read_csv("Data-Collisions.csv", parse_dates=["INCDATE"])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
SEVERITYCODE      194673 non-null int64
X                 189339 non-null float64
Y                 189339 non-null float64
OBJECTID          194673 non-null int64
INCKEY            194673 non-null int64
COLDETKEY         194673 non-null int64
REPORTNO          194673 non-null object
STATUS            194673 non-null object
ADDRTYPE          192747 non-null object
INTKEY            65070 non-null float64
LOCATION          191996 non-null object
EXCEPTRSNCODE     84811 non-null object
EXCEPTRSNDESC     5638 non-null object
SEVERITYCODE.1    194673 non-null int64
SEVERITYDESC      194673 non-null object
COLLISIONTYPE     189769 non-null object
PERSONCOUNT       194673 non-null int64
PEDCOUNT          194673 non-null int64
PEDCYLCOUNT       194673 non-null int64
VEHCOUNT          194673 non-null int64
INCDATE           194673 non-null datetime64[ns, UTC]
INCDTTM           194673 non-null object
JUNCTIONTYPE      188344 non-null object
SDOT_COLCODE      194673 non-null int64
SDOT_COLDESC      194673 non-null object
INATTENTIONIND    29805 non-null object
UNDERINFL         189789 non-null object
WEATHER           189592 non-null object
ROADCOND          189661 non-null object
LIGHTCOND         189503 non-null object
PEDROWNOTGRNT     4667 non-null object
SDOTCOLNUM        114936 non-null float64
SPEEDING          9333 non-null object
ST_COLCODE        194655 non-null object
ST_COLDESC        189769 non-null object
SEGLANEKEY        194673 non-null int64
CROSSWALKKEY      194673 non-null int64
HITPARKEDCAR      194673 non-null object
dtypes: datetime64[ns, UTC](1), float64(4), int64(12), object(21)
memory usage: 56.4+ MB

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [8]:
df.describe(include="all")

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,...,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,...,9,9,1,NaN,1,115,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1782439,Matched,Block,NaN,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,...,124510,116137,4667,NaN,9333,27612,44421,NaN,NaN,187457
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,...,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,...,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,...,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,...,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,...,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

initial obeservation shows that the data is imbalance. the maximum non-null column count is 194673 while the non-null column is 4667

In [10]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [12]:
df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

#### code and descriptions provided by the state that describes the collision.

In [15]:
df['ST_COLDESC'].value_counts()

One parked--one moving                                                                   44421
Entering at angle                                                                        34674
From same direction - both going straight - one stopped - rear-end                       25771
Fixed object                                                                             13554
From same direction - both going straight - both moving - sideswipe                      12777
From opposite direction - one left turn - one straight                                   10324
From same direction - both going straight - both moving - rear-end                        7629
Vehicle - Pedalcyclist                                                                    4701
From same direction - all others                                                          4537
From same direction - one left turn - one straight                                        3093
From same direction - one right turn - one straight                                       2956
Vehicle going straight hits pedestrian                                                    2882
One car leaving parked position                                                           2846
From same direction - both going straight - one stopped - sideswipe                       2435
One car leaving driveway access                                                           2274
Vehicle turning left hits pedestrian                                                      2178
One car entering driveway access                                                          1617
From opposite direction - all others                                                      1302
Vehicle turning right hits pedestrian                                                     1201
Same direction -- both turning right -- both moving -- sideswipe                          1184
From opposite direction - both going straight - sideswipe                                 1039
Same direction -- both turning left -- both moving -- sideswipe                            835
Vehicle overturned                                                                         815
One car entering parked position                                                           720
From opposite direction - both moving - head-on                                            590
Vehicle Strikes Pedalcyclist                                                               416
Other object                                                                               371
Same direction -- both turning right -- one stopped -- rear end                            343
From opposite direction - one left turn - one right turn                                   286
Pedalcyclist Strikes Moving Vehicle                                                        257
                                                                                         ...
Same direction -- both turning right -- both moving -- rear end                            167
From opposite direction - one stopped - head-on                                            132
Vehicle hits Pedestrian - All Other Actions                                                111
All other non-collision                                                                    108
Railway Vehicle Strikes Vehicle                                                            103
Same direction -- both turning left -- one stopped -- rear end                              94
Same direction -- both turning left -- both moving -- rear end                              86
Same direction -- both turning right -- one stopped -- sideswipe                            73
Vehicle Strikes Railway Vehicle                                                             57
Vehicle Hits City Road or Construction Machinery                                            50
Not stated                                                                                  47
Same direction -- both turning left -- one stopped -- sideswipe                             35
Breakage of any part of the vehicle resulting in injury or in further property damage       34
Domestic animal other (cat, dog, etc)                                                       32
Person fell, jumped or was pushed from vehicle                                              26
Pedalcyclist All Other Involvements ONE UNIT - PEDALCYCLIST ONLY or PEDALCYCLIST STR        23
Pedalcyclist Strikes Pedalcyclist or Pedestrian                                             18
Railway Vehicle Strikes Pedestrian                                                          11
Vehicle Struck by City Road or Construction Machinery                                       11
Vehicle Hits Other Road or Construction Machinery                                           11
Vehicle Struck by Other Road or Construction Machinery                                       9
Strikes or Was Struck by Object from the Load of Another Vehicle                             9
All Other Multi Vehicle                                                                      8
Fire started in vehicle                                                                      7
Strikes or Was Struck by a Part of Another Vehicle (Not from Load)                           5
Railway Vehicle Strikes Pedalcyclist                                                         2
Vehicle Strikes All Other Non-Domestic Animal                                                2
Non-domestic animal (deer, bear, elk, etc)                                                   1
Vehicle Hits State Road or Construction Machinery                                            1
Vehicle Strikes Deer                                                                         1
Name: ST_COLDESC, Length: 62, dtype: int64

In [18]:
df2=df[['SEVERITYCODE','ROADCOND']]

In [19]:
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline